body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fa0000;
  }
  
  header {
    background-color: #7c0404;
    color: rgb(10, 9, 9);
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .boton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .boton:hover {
    background-color: #45a049;
  }
  